<%- include ('partials/header.ejs');  -%>
	<div class="sidebar">
		<div class="sidebar_wrapper">
			<a href="#"> Registrierungen </a>
			<a href="#"> Buchungen</a>
			<a href="#"> Forderungen </a>
			<a href="#"> Zahlungen </a>
			<a href="/tagung"> Tagungsprogramm </a>
			<a href="/login"> Logout </a>
		</div>
	</div>

	<div class="main">
		<form action="/tagung/<%= input.id %>?_method=PUT" method="POST" class="form">
			<input type = "text" name = "name" placeholder="Tagung" autocomplete="off" value ="<%= input.name %>" required>
			<br>
			<input type = "number" name = "beitrag" placeholder="Beitrag" autocomplete="off" min="10" step="5" value ="<%= input.beitrag %>" required>
			<br>
			<input type = "text" name = "redner" placeholder="Redner" autocomplete="off" value ="<%= input.redner %>" required>
			<br>
			<input type = "text" name = "raum" placeholder="Raum" autocomplete="off" value ="<%= input.raum %>" required>
			<br>
			<select name = "zeitpunkt">
				<option value ="<%= input.zeitpunkt %>" selected><%= input.zeitpunkt %></option>
				<option value="#" disabled>Zeitpunkt</option>
				<option value="8-10">8-10</option>
				<option value="10-12">10-12</option>
				<option value="12-14">12-14</option>
				<option value="14-16">14-16</option>
				<option value="16-18">16-18</option>
			</select>
			<br>
			<select name = "tag">
				<option value ="<%= input.tag %>" selected><%= input.tag %></option>
				<option value="#" disabled>Tag</option>
				<option value="Montag">Montag</option>
				<option value="Dienstag">Dienstag</option>
				<option value="Mittwoch">Mittwoch</option>
				<option value="Donnerstag">Donnerstag</option>
				<option value="Freitag">Freitag</option>
			</select>
			<br>
			<button class="submit">Submit</button>
		</form>
		<div class="back">
			<a href="/tagung">Zurück</a>
		</div>
	</div>

</div>
<%- include ('partials/footer.ejs');  -%>